.div-form{
    display: flex;
    justify-content: center;
 
    width: auto;
    /* margin: 0px -50px; */
    margin: 50px;
 
}
form>label{
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    margin: 5px;
}
form>input{
    background-color: white;
    border:  rgb(87, 84, 84) 2px solid;
    border-radius: 15px;
    height: 40px;
    width: 350px;
    
}
.modal-content{
    background-color:rgb(26, 25, 25) ;
}
.modal-header{
    background-color:rgb(26, 25, 25) ;
    color: white;
}
.modal-header>button{
    color: white;
    cursor: pointer;
}
form>button{
    background-color: white;
    color: black;
    margin: 15px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
    
}
.form>button:hover{
    background-color: blue;
}
.title-contacto{
    font-size: 2.4rem;
}
form>textarea{
    background-color: white;
    border-radius: 10px;
    width: 310px;
    height: 140px;
}
.error{
    color: rgb(218, 86, 86);
    font-weight: 400;
    margin: 1;
}
@media(min-width:768px){
    .div-form-text{
        background-color: black;
        color: white;
    }
    .section-form{
        display: flex;
        justify-content: center;
    }
    .title-contacto{
        text-align: center;
        margin: 0px ;
    }
}