.div-form{
    display: flex;
    justify-content: center;
    border: solid;
    width: auto;
    /* margin: 0px -50px; */
    margin: 50px;
 
}
form>label{
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    margin: 5px;
}
form>input{
    background-color: white;
    border:  rgb(87, 84, 84) 2px solid;
    border-radius: 15px;
    height: 50px;
    width: 350px;
    
}
form>button{
    background-color: white;
    color: black;
    margin: 15px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
    
}
form>textarea{
    background-color: white;
    border-radius: 10px;
    width: 310px;
    height: 140px;
}
.error{
    color: rgb(141, 44, 44);
    font-weight: 400;
    margin: 1;
}