.seccion3{
   color: white;

    margin: 30px ; 
}
 .div-soy{
    color: #fff8f8;
    margin: 20px;
 }
.img-soy{
    width: 700px;
    margin: 20px;
} 

.title-soy{
    margin: 10px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 3.2rem;
    /* border-bottom: 3px solid #610005; */
    transition: background-color 0.4s ease, border-radius 0.4s ease;
      
}
/* .title-soy:hover{
    background-color: #8f030a;
    border-radius: 5px;

} */
.p-soy{
    color: white;
    font-size: 21px;
  
    width: auto;
    height: auto;
    font-weight: 500;
    margin: 20px -30px;
    text-align: start;
}
.filtro-header{
    
    display: flex;
    justify-content: space-between;
    color: rgb(204, 199, 199);
    margin: 20px -2px;
    font-size: 12px;
    font-weight: 900;
    width: 100%;
}
.filtro-header>button{
    margin: 0px 5px;
}
/*  */
.title-proyect{
    color: white;
    text-align: center;
    font-size: 3rem;
    width: 360px;
    margin: 70px auto;
    border-bottom: 5px solid #692be0;
    transition: background-color 0.4s ease, border-radius 0.4s ease;
}
.title-proyect:hover{
background-color: #692be0;
border-radius: 10px;
}
.div-filtro{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.filtro-header>p{
    margin: 0px;
    font-size: 22px;
}
.btn-filtro{
    color: #a82ee0;
}
@media(min-width:768px){
    .div-filtro{
        margin: 50px 50px;
        
    }
    .img-soy{
        width: 500px;
        
    }
    .title-soy{
        margin: 0px 39px;
        width: 350px;
        font-size: 3.8rem;
        border-bottom: 5px solid #c50727;
    }
    .seccion3{
        display: flex;
        margin: 0px 60px;
    }
    .div-soy{
        width: 700px;
      
        /* border: solid 2px wheat; */
    }
    .p-soy{
        font-size: 1.6rem;
        text-align: start;
        margin: 15px 40px;
    }
    .filtro-header{
        justify-content: start;
        margin: 20px 100px;
        /* border: solid red 3px; */
        width: 600px;
    }
    .filtro-header>button{
        font-weight: 600;
        font-size: 18px;
        margin: 0px 6px;
    }
    .filtro-header>p{
        font-weight: 800;
        font-size: 20px;
        margin: 0px 10px;
    }
    .filtro-header>button:hover{
        color: #960ed4;
    }
    
}