.item{
    color: white;
  
    margin: 10px 10px;
    border-radius: 10px;
    background-color: rgb(51, 52, 53);
}
.item>h3{
    margin: 20px 20px;
    background-color: rgb(51, 52, 53);
}
.item>p{
    margin: 20px 20px;
    background-color: rgb(51, 52, 53);
}
.img-filtro{
    border-radius: 10px;
}
@media(min-width:768px){
    .item{
      width: 370px ;
     height: auto;
     margin: 20px;
    }
}