.divmobile>a{
    text-decoration: none;
    font-size: 19px;
}

nav{
    position: fixed;
    width: 100%;
 
   z-index: 100;
   background-color:rgb(26, 25, 25) ;
   opacity: 0.9;
  

}

i{
  font-size: 30px;
margin: 10px;
cursor: pointer;  
}

 /* footer */
 .footer-title{
    font-weight: bold;
    text-align: center;
    margin: 20px;
    font-size: 1.4rem;
    background-color: rgb(8, 8, 8);
    color: white;
 }
 .footer{
    background-color: black;
    height: 300px;
    width: 100%;
 }
 .footer{
    background-color: rgb(8, 8, 8);
    display: flex;

   flex-direction: column;

    height: 200px;
 }
.copiriht{
    text-align: center;
    color: white;
  
    font-size: 20px;
    background-color: rgb(8, 8, 8);
    text-decoration: underline 5px rgb(143, 4, 143);
    /* width: 100vh; */
}
.copirigtn{
    color: white;
    text-align: center;
}
.text-footer{
    background-color: rgb(8, 8, 8);
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0px 0px;
    text-align: center;
}
.list{

    flex-direction: column;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    
    text-align: center;
    background-color: rgb(8, 8, 8);
}
.divdireciones{
    background-color: black;
}