.divmobile>a{
    text-decoration: none;
    font-size: 19px;
}
nav{
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
   z-index: 100;

   opacity: 0.9;
  

}
.divicon>i{
font-size: 30px;
margin: 10px;
cursor: pointer;
}
